# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
my_virtual_environment/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Django
# =========================
*.log
db.sqlite3
media/
staticfiles/

# =========================
# Django Migrations (optional)
# =========================
# Comment this if you want migrations in repo
# */migrations/*
# !*/migrations/__init__.py

# =========================
# Static build files
# =========================
staticfiles/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Test / coverage
# =========================
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# =========================
# PyInstaller
# =========================
*.manifest
*.spec

# =========================
# Python version managers
# =========================
.python-version

# =========================
# Dependency managers
# =========================
Pipfile.lock
poetry.lock